[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-rest-knox = "*"
drf-spectacular = "*"
psycopg = "*"
psycopg-binary = "*"

[dev-packages]
setuptools = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"

[scripts]
rundev = "python manage.py runserver"
